* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  display: grid;
  place-items: center;
  canvas {
    border: 2px solid gray;
    position: relative;

    & > * {
      position: absolute;
    }
  }
}


